

 .header-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  z-index: 1000;
  background-color: #fff;
}

.nav-links{
  display: flex;
  gap:40px;
  margin-right: 100px;
}

.nav-links a {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  padding: 8px 18px;
  border-radius: 999px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #1e6bff;
}

.nav-links a.active {
  background-color: #1e6bff;
  color: #fff;
  box-shadow: 0 4px 10px rgba(30, 107, 255, 0.3);
}

