.skills {
  text-align: center;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
}


.skill-icons-grid{
    display:grid;
    grid: repeat(2, 60px) / repeat(5, 60px);
    gap:50px;
}

.icon{
    font-size: 60px;
}



