.header {
  background-color: white;
  padding: 20px 0;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  font-weight: 700;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #0077ff;
}
